@import url("https://fonts.googleapis.com/css?family=Mihroma&display=swap");



body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #05074c 0%, #1d1e1c47 100%);
}
 



.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: gray;
}

.navbar-brand img {
    width: 90px;
    height: 90px;
    background: white;
}

.navbar-toggler{
    background-color: gray;
}
.cide{
    color: aquamarine;
    background-color: linear-gradient(270deg, #1319be 0%, #050505 100%) ;
    text-decoration: none;
}
.card{
    background: linear-gradient(90deg, #a3b32a 0%, #0f925b47 100%);
    color:brown;
}
